.headerDiv{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(111.49deg, rgba(255, 255, 255, 0.4) -8.95%, rgba(255, 255, 255, 0.4) 114%);
    padding: 0  4vw;
}

.headerlogo{
   width: 140px;
   height: auto;
}
.headermenu ul {
   display: flex;
   align-items: center;
   text-decoration: none;
   list-style: none;
}

.headermenu ul li{
   margin-left: 22px;
   color: #212123;
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 500;
   font-size: 18px; 
}

.contactus-btn{
   background: radial-gradient(293.15% 5244.37% at 100% 121.13%, #FF9A00 0%, #FD331F 100%);
   width: 150px;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #FFFFFF;
   border-radius: 20px;
}